.container{
    height: 50px;
    width: 900px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

.child{
    height:50px;
    width:80px;
    font-size: 24px;
    margin-left: 5px;
    line-height: 50px;
    
}